name: Update Profile Stats & Graphs

on:
  # Schedule daily updates (at midnight UTC)
  schedule: [{cron: "0 0 * * *"}]
  # (Optional) Run workflow manually
  workflow_dispatch:
  # (Optional) Run on every push on the master branch
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: seriouslegend2
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata
          
          # This enables the "Graph" (Isometric Calendar)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          
          # This enables the "Languages" breakdown including private code
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell,
            gnuplot
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: lines, percentage
          
          # Show total contributions (including private)
          plugin_achievements: yes
          plugin_achievements_display: compact

  generate-snake:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      # Generates a snake game from a github user (<github_user_name>) contributions graph, output a svg animation at <svg_out_path>
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: seriouslegend2
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.METRICS_TOKEN }}
          
      # Push the content of <build_dir> to a branch
      # the content will be available at https://raw.githubusercontent.com/seriouslegend2/seriouslegend2/output/<file_name>
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.METRICS_TOKEN }}
          
