name: Update Profile Stats & Graphs

on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: seriouslegend2
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Kolkata
          
          # Force the output filename
          filename: github-metrics.svg
          output_action: commit
          committer_branch: main
          committer_message: "chore: update metrics"
          
          # -----------------------------------------------------
          # THE FIX: Enable "Deep Search" for PRs and Reviews
          # -----------------------------------------------------
          plugin_followup: yes
          plugin_followup_sections: repositories
          
          # This counts code reviews specifically
          plugin_people: yes
          plugin_people_types: followers, following, sponsoring, sponsors, thanks
          
          # -----------------------------------------------------
          
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: lines, percentage
          plugin_achievements: yes
          plugin_achievements_display: compact

  generate-snake:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    timeout-minutes: 10
    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: seriouslegend2
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.METRICS_TOKEN }}
          
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
